/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* コンテナ */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.info {
    margin-bottom: 20px;
    font-size: 14px;
}

.info a {
    color: #007bff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

/* 商品詳細 */
.product-details {
    display: flex;
    align-items: flex-start;
}

/* 商品画像 */
.product-details img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* 商品情報 */
.product-info {
    flex: 1;
}

/* ラベル */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: none;
    font-size: 18px;
}

input[type="radio"] {
    display: inline-block;/* ラジオボタンを表示 */
    margin-bottom: 20px;
}

/* 入力フィールド */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* テキストエリア */
textarea {
    height: 100px;
}

/* 季節オプション */
.season-options {
    margin-bottom: 15px;
}

/* ボタングループ */
.button-group {
    display: flex;
    justify-content: center;
}

/* ボタン */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);/* 影を追加 */
    transition: box-shadow 0.3s;
}

.btn.back {
    background-color: #f0f0f0;
    color: black;
}

.btn.save {
    background-color: #ffc107;
    /* 黄色 */
    color: black;
}

.btn.delete {
    background-color: #dc3545;
    /* 赤 */
    color: #fff;
}

.btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}