body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1700px;
    margin: auto;
}

.add-product {
    text-align: right;
    margin-top: 20px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product-name {
    text-align: left;
}

.product-price {
    text-align: right;
}

.create-btn {
    border: none;
    background-color: #ffa929;
    color: #4b4b4b;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 130px;
    padding: 10px 15px;
    text-align: center;
}

.sort-options {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: none;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button,
.pagination a {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover,
.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active {
    background-color: #ffcc00;
    /* アクティブなページ番号の色 */
    color: white;
    border: 1px solid #ffcc00;
    /* アクティブなページ番号のボーダー色 */
}

.pagination .disabled {
    color: #ccc;
    /* 無効なボタンの色 */
    cursor: not-allowed;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
}