body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 1000px;
}

.title {
    text-align: left;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.required {
    background-color: red;
    color: white;
    font-size: 0.9rem;
    padding: 2px 5px;
}

.note {
    font-size: 0.9em;
    color: red;
}

.form-group input[type="file"]{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.checkbox-group {
    display: flex;
    justify-content: flex-start;
}

.form-group description {
    height: 200px;
}

.input_error_message {
    color: red;
}

.season-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-item input[type="checkbox"] {
    display: none; /*デフォルトのチェックボックスを非表示にする*/
}

.checkbox-item label{
    position: relative;
    padding-left: 25px;
    padding-right: 50px;
    cursor: pointer;
}

.checkbox-item label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* 丸のサイズ */
    height: 20px; /* 丸のサイズ */
    border: 2px solid rgb(108, 107, 107); /* 丸の枠線 */
    border-radius: 50%; /* 丸くする */
    background: white; /* 背景色 */
}

.checkbox-item input[type="checkbox"]:checked+label::before {
    background: rgb(108, 107, 107); /* チェックされたときの背景色 */
    border-color: rgb(108, 107, 107); /* チェックされたときの枠線の色 */
}

.checkbox-item input[type="checkbox"]:checked+label::after {
    content: '✔';
    position: absolute;
    left: 4px; /* 丸の中のチェックマークの位置 */
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white; /* チェックマークの色 */
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.btn-secondary {
    background-color: #ccc;
    color: black;
}

.btn-primary {
    background-color: #ffcc00;
    color: black;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .checkbox-group {
        flex-direction: column;
    }

    .checkbox-group label {
        margin-bottom: 5px;
    }

    .button-group {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}